@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h2 class="header">Details</h2>

<div class="row">
    <h4>Movie</h4>
    <hr />
    <div class="col-md-5">
        <dl class="dl-horizontal row">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    <div class="col-md-3">
        <img src="@Model.Poster" class="img-responsive" />
    </div>
</div>
<div class="container">
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<h3 class="bold">Reviews</h3>
<hr>
<div>
    <a asp-action="Create" asp-controller="Reviews" asp-route-id="@Model.ID" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-pencil"></span> Write a Review</a>
</div>