@model IEnumerable<MvcMovie.Models.Review>

@{
    ViewData["Title"] = "Review List";
}

@{ 
    int indicator = (int) ViewData["indicator"];
}

@{ 
    var movieTitles = ViewData["movieTitles"];
}

<h2>Review List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                @if (indicator == 1)
                {
                    <span>
                        <i class="@ViewData["Glyph"]" id="sort"></i>
                    </span>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.ActionLink("Movie", "Index", new { sortOrder = ViewBag.MovieSortParm })
                @if (indicator == 2)
                {
                    <span>
                        <i class="@ViewData["Glyph"]" id="sort"></i>
                    </span>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
        </tr>
}
    </tbody>
</table>
